<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="template::head"></head>
<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<!-- Navbar -->
		<nav th:replace="template::barra-menu"></nav>
		<aside th:replace="template::aside"></aside>
		  <div class="content-wrapper">
		   	<!-- Content Header (Page header) -->
    		<div class="content-header">
      			<div class="container-fluid">
        			<div class="row mb-2">
         				<div class="col-sm-6">
            				<h1 class="m-0">Gestion de Marcas</h1>
          				</div><!-- /.col -->
        			</div><!-- /.row -->
      			</div><!-- /.container-fluid -->
    		</div><!-- /.content-header -->
		  
		  	<!-- Main content -->
    		<div class="content">
      			<div class="container-xl">
        			<div class="row d-flex justify-content-center">
          				<div class="col-md-9">
           					 <div class="card card-primary mt-5">
            					  <div class="card-header">
                						<h3 class="card-title">Editar Marca</h3>
              						</div>
              						<form action="#" th:action="@{/marcas/update}" 
              							th:object="${marca}" method="post">
              							<div class="card-body">
              								<div class="row d-flex justify-content-center">
              									<div class="col-md-6">
              										<input type="hidden" th:field="*{id}" >
              										<div class="form-group">
                                            			<label for="nombre">Nombre</label>
                                            			<input type="text" id="nombre" th:field="*{nombre}" class="form-control" placeholder="Ingrese nombre">
                                          				<p class="alert alert-warning mt-2" 
                       										th:if="${#fields.hasErrors('nombre')}" 
                   											th:errors="*{nombre}">
                   										</p>
                                          			</div>
                                          		</div>
                                          	</div>
                                          	<div class="row d-flex justify-content-center">
              									<div class="col-md-6">
                                          			<div class="form-group">
                                              			<label>Estado</label>
                                              			<select th:field="*{estado}" class="form-control select2" style="width: 100%;">
                                                			<option th:value="'1'"selected="selected">Habilitado</option>
                                                			<option th:value="'2'">Deshabilitado</option>
                                              			</select>
                                            		</div><!-- /.form-group -->
              									</div><!--Col-md-4-->
              								</div><!--row-->
              							</div><!--fin-car-body-->
              							<div class="card-footer ">
              								<div class="row d-flex justify-content-end">
              									<a href="/marcas" class="btn btn-secondary mx-3">Volver</a>
              									<button type="submit" class="btn btn-success px-5 mx-3">Actualizar</button>
              								</div>
              							</div>	
              						</form>
                      			
              			</div><!--fin-card-->
            		</div>
         		</div><!-- /.row -->
      		</div><!-- /.container-fluid -->
    	</div><!-- /.content -->
  </div><!-- /.content-wrapper -->
		 
    <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark"><!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      	<p>Sidebar content</p>
    </div>
  </aside><!-- /.control-sidebar -->
	
	<footer th:replace="template::footer"></footer>
	<div th:replace="template::scripts"></div>
		<script>
  			$(function () {
    			//Initialize Select2 Elements
    			$('.select2').select2()

    			//Initialize Select2 Elements
    			$('.select2bs4').select2({
      			theme: 'bootstrap4'
    			})
  			});
		</script>
	
	<script>
    	// Mostrar notificación de éxito
    	/*[[${success}]]*/ if (/*[[${success}]]*/ false) {
    	    toastr.success('[[${success}]]');
    	}
	
    	// Mostrar notificación de error
    	/*[[${error}]]*/ if (/*[[${error}]]*/ false) {
    	    toastr.error('[[${error}]]');
    	}
    </script>	
</body>
</html>
