<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="template::head"></head>
<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<!-- Navbar -->
		<nav th:replace="template::barra-menu"></nav>
		<aside th:replace="template::aside"></aside>
		  <div class="content-wrapper">
		   	<!-- Content Header (Page header) -->
    		<div class="content-header">
      			<div class="container-fluid">
        			<div class="row mb-2">
         				<div class="col-sm-6">
            				<h1 class="m-0">Gestion de Tipos de Equipos</h1>
          				</div><!-- /.col -->
        			</div><!-- /.row -->
      			</div><!-- /.container-fluid -->
    		</div><!-- /.content-header -->
		  
		  	<!-- Main content -->
    		<div class="content">
      			<div class="container-xl">
        			<div class="row d-flex justify-content-center">
          				<div class="col-md-9">
           					 <div class="card card-primary mt-5">
            					  <div class="card-header">
                						<h3 class="card-title">Editar Tipo de equipo</h3>
              						</div>
              						<form action="#" th:action="@{/tipo_equipos/update}" 
              							th:object="${tipoEquipo}" method="post">
              							<div class="card-body">
              								<div class="row d-flex justify-content-center">
              									<div class="col-md-9">
              										
                                            		<input type="hidden" th:field="*{id}" >
              										<div class="form-group">
                                            			<label for="descripcion">Descripción</label>
                                            			<input type="text" id="descripcion" th:field="*{descripcion}" class="form-control" placeholder="Ingrese descripción">
                                          				<p class="alert alert-warning mt-2" 
                       										th:if="${#fields.hasErrors('descripcion')}" 
                   											th:errors="*{descripcion}">
                   										</p>
                                          			</div>
                                          		</div>
                                          	</div>
                                          	<div class="row d-flex justify-content-center">
              									<div class="col-md-3">
              										<div class="form-group">
                                            			<label for="pref1">Prefijo 1</label>
                                            			<input type="text" id="prefijo1" th:field="*{prefijo1}" class="form-control" placeholder="Ingrese prefijo 1">
                                          				<p th:if="${#fields.hasErrors('prefijo1')}" th:errors="*{prefijo1}"></p>
                                          			</div>
              									</div>
              									<div class="col-md-3">
              										<div class="form-group">
                                            			<label for="pref2">Prefijo 2</label>
                                            			<input type="text" id="prefijo2" th:field="*{prefijo2}" class="form-control" placeholder="Ingrese prefijo 2">
                                          				<p th:if="${#fields.hasErrors('prefijo2')}" th:errors="*{prefijo2}"></p>
                                          			</div>
              									</div>
              									<div class="col-md-3">
              										<div class="form-group">
                                            			<label for="pref3">Prefijo 3</label>
                                            			<input type="text" id="prefijo3" th:field="*{prefijo3}" class="form-control" placeholder="Ingrese prefijo 3">
                                          				<p th:if="${#fields.hasErrors('prefijo3')}" th:errors="*{prefijo3}"></p>
                                          			</div>
              									</div>
              								</div>
                                          	<div class="row d-flex justify-content-center">
                                          		<div class="col-md-5">
                                          			<div class="form-group">
                                              			<label>Tipo</label>
                                              			<select th:field="*{tipo}" class="form-control select2" style="width: 100%;">
                                                			<option th:value="'1'" selected="selected">Principal</option>
                                                			<option th:value="'2'">Periférico</option>
                                              			</select>
                                            		</div><!-- /.form-group -->
              									</div><!--Col-md-5-->
              									<div class="col-md-4">
                                          			<div class="form-group">
                                              			<label>Estado</label>
                                              			<select th:field="*{estado}" class="form-control select2" style="width: 100%;">
                                                			<option th:value="'1'"selected="selected">Habilitado</option>
                                                			<option th:value="'2'">Deshabilitado</option>
                                              			</select>
                                            		</div><!-- /.form-group -->
              									</div><!--Col-md-4-->
              								</div><!--row-->
              							</div><!--fin-car-body-->
              							<div class="card-footer ">
              								<div class="row d-flex justify-content-end">
              									<a href="/tipo_equipos" class="btn btn-secondary mx-3">Volver</a>
              									<button type="submit" class="btn btn-success px-5 mx-3">Actualizar</button>
              								</div>
              							</div>	
              						</form>
                      			
              			</div><!--fin-card-->
            		</div>
         		</div><!-- /.row -->
      		</div><!-- /.container-fluid -->
    	</div><!-- /.content -->
  </div><!-- /.content-wrapper -->
		 
    <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark"><!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      	<p>Sidebar content</p>
    </div>
  </aside><!-- /.control-sidebar -->
	
	<footer th:replace="template::footer"></footer>
	<div th:replace="template::scripts"></div>
		<script>
  			$(function () {
    			//Initialize Select2 Elements
    			$('.select2').select2()

    			//Initialize Select2 Elements
    			$('.select2bs4').select2({
      			theme: 'bootstrap4'
    			})
  			});
		</script>
	
	<script>
    	// Mostrar notificación de éxito
    	/*[[${success}]]*/ if (/*[[${success}]]*/ false) {
    	    toastr.success('[[${success}]]');
    	}
	
    	// Mostrar notificación de error
    	/*[[${error}]]*/ if (/*[[${error}]]*/ false) {
    	    toastr.error('[[${error}]]');
    	}
    </script>	
</body>
</html>
